<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <appSettings>
    <add key="PASTA_DEFAULT" value="C:\Rodrigo-TMP\CONTROLEDEMALHA"/>
    <add key="IN" value="C:\Rodrigo-TMP\CONTROLEDEMALHA\IN"/>
    <add key="ARQ_LOG" value="C:\Rodrigo-TMP\CONTROLEDEMALHA\LOG\LogTeste.Log"/>
    <add key="AUX_BASES" value="C:\Rodrigo-TMP\CONTROLEDEMALHA\IN\Bases.xml"/>
    <add key="TEMPO_DLY" value="02:00:00"/>
    <add key="TEMPO_WKLY" value="04:00:00"/>
    <add key="HR_INI" value="21:00:00"/>
    <add key="HR_FIM" value="06:00:00"/>
    <add key="BASES_WKLY" value="BSB/CGH/CNF/CWB/FLN/GIG/POA/SDU/GRU/REC/VIX/SSA/FOR/CGB/MGF/GYN/MOC/PPB/UDI/AJU/BPS/JPA/NAT/MAO/PMW/SLZ/THE/VCP/EZE/MVD/NVT"/>
    <add key="BASES_DLY"
      value="BSB/CGH/CNF/CWB/FLN/GIG/POA/SDU/GRU/REC/VIX/SSA/FOR/CGB/MGF/GYN/MOC/PPB/UDI/AJU/BPS/JPA/NAT/MAO/PMW/SLZ/THE/VCP/EZE/MVD/NVT/MAB"/>
    <add key="BASES_40MIN" value="AEP/ASU/BSB/COR/EZE/FDF/GIG/GRU/MDZ/MVD/PMB/PUJ/ROS/SCL/VVI/LIM"/>
  </appSettings>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
        type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="SchedOPSDataSource" descriptor="(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=dbnetlinereplicado-hom.golnaweb.com.br)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=OPTIMA)))"/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>
  <connectionStrings>
    <add name="SchedOPS" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=dbnetlinereplicado-hom.golnaweb.com.br)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=OPTIMA)));User Id=Netmalha;Password=kjekrl2k2wg;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>